body{
    background-color: #111;
}


.center{
    position:absolute;
    left: 50%;
    top: 50%;
    width: auto;
    transform: translate(-50%, -50%);
}

.item-wrap{
    position: relative;
    border:2px solid #004fff;
    border-radius: 6px;
    background: #ddd;
    padding:20px;

}

.item{
    width: 50%;
    margin: 20px;
    padding: 10px;
    border:2px solid #004fff ;
    width:120px;
    color:#222;
    font-size: 24px;
    text-align: center;
    border-radius: 6px;
    background: #fff;
    transition:0.3s;
}

.item:hover{
    box-shadow: 0 6px 32px rgba(0,79,255,0.3);
}

*{
    box-sizing: border-box;
}